<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="https://i.postimg.cc/7YQDr4GK/Untitled.png" alt="Gaming Hub Logo" height="40" class="d-inline-block align-text-top">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_list' %}">Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post_create' %}">Create Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_posts' %}">My Posts</a>
                    </li>
                    
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link text-warning" href="{% url 'admin:index' %}">
                                <i class="fas fa-user-shield"></i> Admin Panel
                            </a>
                        </li>
                    {% endif %}
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                    </li>
                {% endif %}
                
                <!-- Dark Mode Toggle Button -->
                <li class="nav-item d-flex align-items-center ms-3">
                    <button id="themeToggle" class="btn btn-link nav-link" type="button" aria-label="Toggle theme">
                        <i id="themeIcon" class="fas fa-sun text-warning fs-5"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
